<ion-content [fullscreen]="true" class="transparent-bg">
  <div class="login-wrapper" style="padding: clamp(0.5rem, 3vw, 2rem);">
    
    <div class="branding-header" style="margin-bottom: clamp(1.5rem, 4vh, 2.5rem);">
      <div class="title-glow">
        <h1 class="splash-title" style="font-size: clamp(2rem, 8vw, 2.5rem);">R E S E T</h1>
      </div>
      <p class="splash-tagline">Secure your access.</p>
    </div>

    <div class="glassy-card">
      <h2 class="form-title">Enter New Password</h2>
      
      <form [formGroup]="resetForm" (ngSubmit)="onReset()">
        
        <div class="input-group">
          <ion-input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="New Password"
            class="glassy-input"
          >
            <ion-icon slot="end" color="light" [name]="showPassword ? 'eye' : 'eye-off'" (click)="showPassword = !showPassword" style="font-size: 1.4rem; margin-right: 0.5rem; cursor: pointer;"></ion-icon>
          </ion-input>
          @if (isSubmitted && f['password'].errors) {
            <div class="error-msg">
              @if (f['password'].errors['required']) { <span>Password required</span> }
              @if (f['password'].errors['minlength']) { <span>Minimum 6 characters</span> }
            </div>
          }
        </div>

        <div class="input-group">
          <ion-input
            formControlName="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirm Password"
            class="glassy-input"
          >
            <ion-icon slot="end" color="light" [name]="showConfirmPassword ? 'eye' : 'eye-off'" (click)="showConfirmPassword = !showConfirmPassword" style="font-size: 1.4rem; margin-right: 0.5rem; cursor: pointer;"></ion-icon>
          </ion-input>
          @if (isSubmitted && f['confirmPassword'].errors) {
            <div class="error-msg">
              @if (f['confirmPassword'].errors['required']) { <span>Confirm your password</span> }
              @if (f['confirmPassword'].errors['mismatch']) { <span>Passwords do not match!</span> }
            </div>
          }
        </div>

        <ion-button type="submit" expand="block" class="premium-btn" [disabled]="isLoading">
          @if (!isLoading) {
            <span>Save & Login</span>
          } @else {
            <ion-spinner name="crescent" color="light"></ion-spinner>
          }
        </ion-button>
        
        <div class="signup-wrapper">
          <span class="signup-text"><a (click)="goToLogin()" class="signup-link">Back to Login</a></span>
        </div>
      </form>
    </div>

  </div>
</ion-content>
