<ion-tabs [class.sidebar-expanded]="sidebarExpanded">
  <ion-tab-bar slot="bottom" [class.sidebar-expanded]="sidebarExpanded">

    <button class="sidebar-toggle-btn" aria-label="Toggle sidebar" (click)="toggleSidebar()">
      <ion-icon [name]="sidebarExpanded ? 'chevron-back-outline' : 'chevron-forward-outline'"></ion-icon>
    </button>

    <ion-tab-button tab="you" [layout]="isDesktop ? 'icon-start' : 'icon-top'" (click)="navigateTab('you')">
      <ion-icon aria-hidden="true" [icon]="isYouActiveValue ? heart : heartOutline"></ion-icon>
      <ion-label>{{ 'TABS.YOU' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" [layout]="isDesktop ? 'icon-start' : 'icon-top'" (click)="navigateTab('chat')">
      <ion-icon aria-hidden="true" [icon]="isChatActiveValue ? chatbubbles : chatbubblesOutline"></ion-icon>
      <ion-label>{{ 'TABS.CHAT' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="profile-tab-btn" [layout]="isDesktop ? 'icon-start' : 'icon-top'" (click)="navigateTab('profile')">
      <ion-icon aria-hidden="true" [icon]="isProfileActiveValue ? personCircle : personCircleOutline"></ion-icon>
      <ion-label>{{ 'TABS.PROFILE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
