<ion-content [fullscreen]="true" class="transparent-bg">
  <div class="login-wrapper">

<div class="branding-header">
      <div class="title-glow">
        <h1 class="splash-title">
          <span class="title-left">MIR</span><span class="title-right">ЯOЯ</span>
        </h1>
      </div>
      <p class="splash-tagline">{{ 'LOGIN.TAGLINE' | translate }}</p>
    </div>

<div class="glassy-card">
      <h2 class="form-title">{{ 'LOGIN.TITLE' | translate }}</h2>
      
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        
        <div class="input-group">
          <ion-input
            formControlName="email"
            type="email"
            [placeholder]="'LOGIN.PLACEHOLDER_EMAIL' | translate"
            class="glassy-input"
          ></ion-input>
          
          <div *ngIf="isSubmitted && f['email'].errors" class="error-msg">
            <span *ngIf="f['email'].errors['required']">{{ 'LOGIN.ERROR_EMAIL_REQUIRED' | translate }}</span>
            <span *ngIf="f['email'].errors['email']">{{ 'LOGIN.ERROR_EMAIL_INVALID' | translate }}</span>
          </div>
        </div>

        <div class="input-group">
          <ion-input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            [placeholder]="'LOGIN.PLACEHOLDER_PASSWORD' | translate"
            class="glassy-input"
          >
            <ion-icon slot="end" [name]="showPassword ? 'eye' : 'eye-off'" (click)="showPassword = !showPassword" style="font-size: 1.4rem; margin-right: 0.5rem; cursor: pointer; color: #888888;"></ion-icon>
          </ion-input>
          
          <div *ngIf="isSubmitted && f['password'].errors" class="error-msg">
            <span *ngIf="f['password'].errors['required']">{{ 'LOGIN.ERROR_PASSWORD_REQUIRED' | translate }}</span>
            <span *ngIf="f['password'].errors['minlength']">{{ 'LOGIN.ERROR_PASSWORD_MINLENGTH' | translate }}</span>
          </div>
        </div>

        <ion-button type="submit" expand="block" class="premium-btn" [disabled]="isLoading">
          @if (!isLoading) {
            <span>{{ 'LOGIN.BUTTON_SIGNIN' | translate }}</span>
          } @else {
            <ion-spinner name="crescent" color="dark"></ion-spinner>
          }
        </ion-button>
        
        <div class="forgot-wrapper">
          <a (click)="goToForgot()" class="forgot-link">{{ 'LOGIN.FORGOT_LINK' | translate }}</a>
        </div>
        
        <div class="signup-wrapper">
          <span class="signup-text">{{ 'LOGIN.SIGNUP_PREFIX' | translate }}<a (click)="goToSignup()" class="signup-link">{{ 'LOGIN.SIGNUP_LINK' | translate }}</a></span>
        </div>
      </form>
    </div>

  </div>
</ion-content>
