<ion-content [fullscreen]="true" class="transparent-bg">
  <div class="login-wrapper">

<div class="branding-header">
      <div class="title-glow">
        <h1 class="splash-title" style="font-size: clamp(2.5rem, 10vw, 3.8rem);">{{ 'OTP.HEADER' | translate }}</h1>
      </div>
      <p class="splash-tagline">{{ 'OTP.TAGLINE' | translate }}</p>
    </div>

<div class="glassy-card">
      <h2 class="form-title">{{ 'OTP.TITLE' | translate }}</h2>
      
      <form [formGroup]="otpForm" (ngSubmit)="onVerify()">
        
        <div class="input-group otp-group">
          <div class="otp-boxes-container" (click)="focusInput()">
            <div class="otp-box" [class.active]="currentLength === 0">{{ getDigit(0) }}</div>
            <div class="otp-box" [class.active]="currentLength === 1">{{ getDigit(1) }}</div>
            <div class="otp-box" [class.active]="currentLength === 2">{{ getDigit(2) }}</div>
            <div class="otp-box" [class.active]="currentLength === 3">{{ getDigit(3) }}</div>
            <div class="otp-box" [class.active]="currentLength === 4">{{ getDigit(4) }}</div>
            <div class="otp-box" [class.active]="currentLength === 5">{{ getDigit(5) }}</div>
            
            <ion-input
              #hiddenInput
              formControlName="code"
              type="tel"
              inputmode="numeric"
              maxlength="6"
              class="hidden-otp-input"
            ></ion-input>
          </div>
          
          @if (isSubmitted && f['code'].errors) {
            <div class="error-msg" style="text-align: center;">
              @if (f['code'].errors['required']) { <span>{{ 'OTP.ERROR_REQUIRED' | translate }}</span> }
              @if (f['code'].errors['pattern']) { <span>{{ 'OTP.ERROR_PATTERN' | translate }}</span> }
            </div>
          }
        </div>

        <ion-button type="submit" expand="block" class="premium-btn" [disabled]="isLoading">
          @if (!isLoading) {
            <span>{{ flowContext === 'reset' ? ('OTP.BUTTON_VERIFY_RESET' | translate) : ('OTP.BUTTON_VERIFY_ENTER' | translate) }}</span>
          } @else {
            <ion-spinner name="crescent" color="dark"></ion-spinner>
          }
        </ion-button>
        
        <div class="signup-wrapper">
          <span class="signup-text">{{ 'OTP.DIDNT_RECEIVE' | translate }}
            @if (resendTimer > 0) {
              <span style="opacity: 0.5; cursor: not-allowed; pointer-events: none;">{{ 'OTP.RESEND_IN' | translate: { resendTimer: resendTimer } }}</span>
            } @else {
              <a (click)="resendCode()" class="signup-link">{{ 'OTP.RESEND' | translate }}</a>
            }
          </span><br><br>
          <span class="signup-text"><a (click)="goToLogin()" class="signup-link">{{ 'OTP.BACK_LINK' | translate }}</a></span>
        </div>
      </form>
    </div>

  </div>
</ion-content>
